body {
    background-color: #5C63C7;
    font-size: clamp(8px, 16vw, 16px);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    font-size: 16px;
}

.navbar {
    background-color: #6039BC;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    max-height: 3rem;
}

.navbar button {
    color: black;
    text-decoration: none;
    padding: 1rem;
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.navbar button:hover {
    color: #a481f5;
    background-color: #5C63C7;
}

.dropdown .dropdown {
    margin: 0;
    font-family: inherit;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdownContent {
    display: none;
    position: absolute;
    top: calc(3rem - 1px); 
    background-color: #6039BC;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: height 0.2s ease-in-out;
    z-index: 1;
    
}

.dropdownContent button {
    color: black;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #6039BC;
    width: 100%;
}

.dropdownContent button:hover {
    background-color: #5C63C7;
    color: #a481f5;
}
