body {
    background-image: url('../pictures/mainBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
    font-size: clamp(8px, 16vw, 16px);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.navbar {
    background-color: #00BFFF;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    max-height: 3rem;
}

.navbar button {
    color: black;
    text-decoration: none;
    padding: 1rem;
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.navbar button:hover {
    color: #000000;
    background-color: #0de3ff;
}

.dropdown .dropdown {
    margin: 0;
    font-family: inherit;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdownContent {
    display: none;
    position: absolute;
    animation: expansion 0.5s linear forwards;
    background-color: #00BFFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent button {
    color: black;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #00BFFF;
    width: 100%;
}

.dropdownContent button:hover {
    background-color: #0de3ff;
    color: #000000;
}

@keyframes expansion {
    0%, 50%,100% {
        top: calc(3rem - 1px);
    }
}

.section {
    display: flex;
    gap: 1rem;
    background-color: white; 
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    margin: 10rem 1rem; 
}

.section.reverse {
    flex-direction: row-reverse;
}

.section-img img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.section-content h2 {
    margin: 0;
}

.section-content button {
    align-self: flex-start;
    padding: 0.5rem 3rem;
    background-color: #00BFFF; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.section-content button:hover {
    background-color: #0de3ff;
    color: #000000;
}

@media (max-width: 800px) {
    .section {
        flex-direction: column;
    }

    .section.reverse {
        flex-direction: column;
    }

    .section-img img {
        width: 100%;
    }
}
