body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#pastAppointmentsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.appointment-box {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.appointment-info {
    text-align: center;
}

.appointment-info p {
    margin: 5px 0;
}

.appointment-box[data-status="past-due"] {
    background-color: #f8b4b4; 
}

.appointment-box[data-status="ongoing"] {
    background-color: #a1ffa1; 
}

.navbar {
    background-color: #00BFFF;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    max-height: 3rem;
}

.navbar button {
    color: black;
    text-decoration: none;
    padding: 1rem;
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.navbar button:hover {
    color: #000000;
    background-color: #0de3ff;
}

.dropdown .dropdown {
    margin: 0;
    font-family: inherit;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdownContent {
    display: none;
    position: absolute;
    animation: expansion 0.5s linear forwards;
    background-color: #00BFFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent button {
    color: black;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #00BFFF;
    width: 100%;
}

.dropdownContent button:hover {
    background-color: #0de3ff;
    color: #000000;
}

@keyframes expansion {
    0%, 50%,100% {
        top: calc(3rem - 1px);
    }
}
