body {
    background-image: url('../pictures/services.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-size: clamp(8px, 16vw, 16px);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.navbar {
    background-color: #00BFFF;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    max-height: 3rem;
}

.navbar button {
    color: black;
    text-decoration: none;
    padding: 1rem;
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.navbar button:hover {
    color: #000000;
    background-color: #0de3ff;
}

.dropdown .dropdown {
    margin: 0;
    font-family: inherit;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdownContent {
    display: none;
    position: absolute;
    animation: expansion 0.5s linear forwards;
    background-color: #00BFFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent button {
    color: black;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #00BFFF;
    width: 100%;
}

.dropdownContent button:hover {
    background-color: #0de3ff;
    color: #000000;
}

@keyframes expansion {
    0%, 50%,100% {
        top: calc(3rem - 1px);
    }
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1600px;
    justify-content: center;
    align-items: stretch;
}

.service-box {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    width: calc(33.333% - 2rem);
    box-sizing: border-box;
    margin-bottom: 2rem;
    overflow: hidden;
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    max-height: 700px;
}

.service-image {
    width: 100%;
    height: 50%;
}

.service-info {
    padding: 1rem;
}

.service-info h2 {
    margin-top: 0;
}

.doctors-list {
    list-style-type: none;
    padding: 0;
}

.doctors-list li {
    margin-bottom: 0.5rem;
}

@media (max-width: 1200px) {
    .service-box {
        width: calc(50% - 2rem);
    }
}

@media (max-width: 600px) {
    .service-box {
        width: calc(100% - 2rem);
        max-height: 500px;
    }
}
